body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
}

main {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: 550px;
    margin-top: 100px;
    width: 1000px;
    align-content: center;
}

.head-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #3498db;
    margin: 0;
}

.breadcrumb {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #777;
}

.breadcrumb li {
    margin-right: 5px;
}

.breadcrumb i {
    color: #3498db;
}

.btn-download {
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.btn-download:hover {
    background-color: #2980b9;
}

.box-info {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.box-info li {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.box-info i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #3498db;
}

.box-info h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.box-info p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.box-info li:hover {
    transform: scale(1.05);
}

.box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.user-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

.scrollable-box {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.announcement {
    width: calc(100% - 20px);
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}




 