body {
    background-color: #eee;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.LoginBox {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
}

.logo {
    text-align: center;
    padding: 20px;
}

.logo img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
}

.logo h2 {
    margin: 10px 0;
    color: skyblue;
}

.card {
    padding: 20px;
}

.form-group {
    gap: 10px;
}

label {
    color: skyblue;
}

input,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-row, .input-column, .input-column1{
    display: flex;
    gap: 10px;
}

button {
    background-color: skyblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0099cc; /* Darker shade of skyblue */
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
